Package: linux-image-5.10.54-breath-alt-dbg
Source: linux-5.10.54-breath-alt
Version: 5.10.54-breath-alt-3
Architecture: amd64
Maintainer: lars <lars@andrelauret-lars.home>
Installed-Size: 5609359
Section: debug
Priority: optional
Homepage: https://www.kernel.org/
Description: Linux kernel debugging symbols for 5.10.54-breath-alt
 This package will come in handy if you need to debug the kernel. It provides
 all the necessary debug symbols for the kernel and its modules.
